.newCollection {
  background: url("https://www.thestatesman.com/wp-content/uploads/2021/01/QT-Winter-fashion.jpg")
    bottom 90% left 0% / cover no-repeat border-box;
  width: 100%;
  height: 90vh;
  color: white;
  position: relative;
}

.newCollection .title {
  font-family: "Elsie", cursive;
  font-size: 6rem;
  width: 0;
  margin: 0;
  font-size: 5rem;
  position: absolute;
  bottom: 15rem;
  left: 6rem;
}

.newCollection .anchor {
  position: absolute;
  bottom: 7rem;
  left: 6rem;
  letter-spacing: 10px;
  text-align: center;
}

.newCollection .anchor::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-bottom: 0.2rem solid white;
  width: auto;
}

.newCollection .anchor:hover {
  transition: 0.3s ease-out;
  transform: translateY(-0.6rem);
}
