.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category_name {
  text-transform: capitalize;
  margin: 0;
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
  }

  .category_name {
    margin-bottom: 30px;
  }
}
