.footer_container {
  margin: 7rem 0;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  flex-basis: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: bold;
  margin-top: 0;
}

.brand {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
}

#copyright {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .footer_container {
    margin: 7rem 0 3rem;
    flex-direction: column;
  }

  .footer {
    flex-basis: 15rem;
    align-items: center;
  }

  .footer:first-of-type {
    flex-basis: 9rem;
  }

  .brand {
    font-size: 1.6rem;
  }

  #copyright {
    width: auto;
    justify-content: center;
  }
}
