.modal {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  /* animation: slide-down 300ms ease-out forwards; */
}
