.container {
  flex-basis: 33%;
  margin-bottom: 20px;
  cursor: pointer;
}

.container:hover {
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
}

.img_container {
  margin: 0 auto;
  display: flex;
  width: 85%;
}

.img_container img {
  width: 100%;
}

.product_info {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product_title {
  flex-basis: 72%;
}

@media (max-width: 550px) {
  .container {
    flex-basis: 50%;
    cursor: none;
  }

  .container:hover {
    transform: none;
  }

  .img_container {
    width: 95%;
  }

  .product_info {
    width: 85%;
    display: block;
  }

  .product_title {
    flex-basis: 72%;
  }
}
