.wrapper {
  margin-top: 10rem;
  display: flex;
}

.sideBar {
  flex-basis: 20%;
}

.product_page_container {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
  }
}
