.product_detail_area {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.category {
  opacity: 0.7;
  margin: 0;
}

.review {
  display: flex;
  align-items: center;
}

/* .review_point {
  font-weight: ;
} */

.total_review {
  opacity: 0.7;
}

.description {
  margin: 3rem 0;
  line-height: 1.8;
  width: 70%;
}

.size_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
}

.size_list .size_element {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.3rem 1rem;
  flex-basis: 15%;
  cursor: pointer;
}

.size_list .size_element:hover,
.selected_size_element {
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 1) !important;
}

.actions_btn {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.actions_btn button {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.minus {
  background: none;
  border: 1px solid rgba(0, 0, 0, 1);
}

.plus {
  border: none;
  background: black;
  color: white;
}

.amount_counter {
  font-weight: 500;
  margin: 0 1.5rem;
}

.add_to_cart_btn {
  width: 20%;
  padding: 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font: inherit;
}

.warning {
  flex-basis: 100%;
  color: red;
  visibility: hidden;
}

.warning_visible {
  visibility: visible;
}
